<h1>Reset password</h1>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <%= submit_tag 'Update password', :class => 'btn btn-success' %>

<% end %>