<h1>Notifications</h1>

<%= will_paginate @notifications %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Notification</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @notifications.each do |notification| %>
      <tr>
        <% if notification.password? %>
            <td><%= notification.notify_password %></td>
        <% else %>
            <td><%= notification.notify_amount %></td>
        <% end %>
        <td><%= link_to 'Delete', notification_path(notification.id), method: 'delete' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
