<h1>Users who have changed the loan offer 3 or more times in a week (all-time)</h1>

<% unless @users.nil? %>
  <%= will_paginate @users %>
<% end %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>email</th>
  </tr>
  </thead>
  <tbody>
  <% unless @users.nil? %>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
        </tr>
    <% end %>
  <% end %>
  </tbody>
</table>