// Place all the styles related to the Public controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 22px !important;
}

.lower-margin{
  margin-bottom: 10px;
}

.solid-border{
  border: 2px solid darkgrey !important;
}

.lower-padding{
  padding-bottom: 15px;
}

.frame{

}

